In [1]:
#1
guess_me = 7
guess= int(input("input a value: "))
if guess< guess_me :
    print("too low")
elif guess > guess_me:
    print("too high")
else:
    print("just right")

input a value: 4
too low

In [2]:
#2
guess_me = 7
start= 1
while True:
    if start < guess_me:
        print("too low")
    elif start == guess_me:
        print("found it!")
        break
    elif start> guess_me:
        print("oops")
        break
    start = start +1

too low
too low
too low
too low
too low
too low
found it!

In [3]:
#3
l1= [3,2,1,0]
for i in l1:
    print(i)

3
2
1
0

In [11]:
#4
l2= [i for i in range(10)
    if i%2==0]
l2

[0, 2, 4, 6, 8]

In [12]:
#5
d1= {i: i*i for i in range(10)
    }
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [13]:
#6
set1={i for i in range(10)
     if i%2 != 0}
set1

{1, 3, 5, 7, 9}

In [16]:
#7
st= ("got "+ str(i) for i in range(10))
for j in st:
    print(j)

got 0
got 1
got 2
got 3
got 4
got 5
got 6
got 7
got 8
got 9

In [25]:
#8
def good():
    l= ["Harry", "Ron", "Hermione"]
    return l

good()

['Harry', 'Ron', 'Hermione']

In [37]:
#9
start=1
odd= [i for i in range(10) if i%2 != 0]
for i in odd:
    if start == 3:
        print(i)
    start+= 1

5

In [38]:
#10
class expt(Exception):
    pass
def great(a):
    if a>10:
        raise expt

try:
    great(50)
except Exception as x:
    print("Caught an Oops ")

Caught an Oops

In [44]:
#11
titles= ['Creature of habit', 'Crewel fate']
plots = ['A nun turns into a monster', 'A haunted yarn shop']

movies= {}
for i,j in zip(titles, plots):
    movies[i]= j
movies

{'Creature of habit': 'A nun turns into a monster',
 'Crewel fate': 'A haunted yarn shop'}